<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery.mask.min.js" type="text/javascript"></script>
</head>
<body>

    @{ var ID_Empresa = HttpContext.Current.Session["ID_Empresa"]?.ToString(); }

    <div class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -3%;">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Gestão de Documentos:", "UploadFile", "UploadFile", new { ID_Empresa = ID_Empresa }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="col-md-6">@Html.ActionLink("Ficha de Incrição", "FichaIncricao", "Home")</li>
                    <li class="col-md-9">@Html.ActionLink("Incluir Documentos", "UploadFile", "UploadFile", new { ID_Empresa = ID_Empresa }, new { @class = "col-md-9" })</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <p></p>
        @RenderBody()
        <hr />
        <footer class="text-light py-4" style="background-color: darkslategrey;">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p class="mb-1"><strong>ANFIR - Associação Nacional dos Fabricantes de Implementos Rodoviários</strong></p>
                        <p class="mb-1">Rua Conselheiro Saraiva, 306 cj. 55 - Santana, CEP: 02037-020, São Paulo-SP</p>
                        <p class="mb-0">Fone: (11) 22972-5577</p>
                    </div>
                    <div class="col-md-5">
                        <p class="mb-1">E-mail: <a href="mailto:anfir@anfir.org.br" class="text-light">anfir@anfir.org.br</a></p>
                        <p class="mb-1">Site: <a href="http://www.anfir.org.br" class="text-light">www.anfir.org.br</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
