@model FormulárioPDFConverter.Models.Cadastro

@{
    ViewBag.Title = "Ficha de Inscrição";
}

<style>
    body {
        background: #fff8ef;
    }

    .card {
        padding: 30px 30px;
        margin-top: 10px;
        box-shadow: 0 6px 50px 0 rgba(0,0,0,0.2);
    }

    .form-control-label {
        margin-bottom: 0;
    }

    input, textarea, button {
        padding: 8px 15px;
        border-radius: 5px !important;
        margin: 5px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 18px !important;
        font-weight: 300;
    }

    .modal-lg-custom {
        max-width: 40%;
    }
</style>

<div style="font-size:15px;">
    <h2 class="text-center"><b><u>FICHA DE INSCRIÇÃO</u></b></h2>
    <div class="card">
        @using (Html.BeginForm("FichaIncricao", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group col-md-12">
                <label class="form-control-label"><b>Categoria: </b></label>
                <div class="row">
                    @Html.DropDownListFor(m => m.CategoriaSelecionada, Model.Categorias, new { @class = "form-control col-md-6", @required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="form-control-label"><b>Razão Social</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Razao, new { @class = "form-control col-md-12", @placeholder = "Informe a Razão Social", @required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-control-label"><b>CNPJ</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control col-md-12", @placeholder = "Informe o CNPJ", @required = "required" })
                </div>
                <div class="form-group col-md-6" style="margin-top: 7px;">
                    <label class="form-control-label"><b>Porte da Empresa</b><span class="text-danger"> *</span></label>
                    @Html.DropDownListFor(m => m.PorteEmpresaSelecionado, Model.PortesEmpresa, new { @class = "form-control col-md-12", @required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="form-control-label"><b>Endereço</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Endereco, new { @type = "text", @class = "form-control col-md-12", @placeholder = "Endereço", @required = "required" })
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label"><b>Complemento</b></label>
                    @Html.TextBoxFor(m => m.Complemento, new { @type = "text", @class = "form-control col-md-12", @placeholder = "Informe o Complemento" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>CEP</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Cep, new { @type = "text", @class = "form-control col-md-12", @placeholder = "Informe o CEP", @required = "required" })
                </div>
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>Bairro</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Bairro, new { @type = "text", @class = "form-control col-md-12", @placeholder = "Informe o bairro", @required = "required" })
                </div>
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>Cidade</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control col-md-12", @placeholder = "Informe a Cidade", @required = "required" })
                </div>
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>Estado</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Estado, new { @class = "form-control col-md-12", @placeholder = "Informe o Estado", @required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="form-control-label"><b>Site</b></label>
                    @Html.TextBoxFor(m => m.Site, new { @class = "form-control col-md-12", @placeholder = "Informe o Site" })
                </div>
                <div class="form-group col-md-6">
                    <label class="form-control-label"><b>E-mail</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-12", @placeholder = "Informe o E-mail", @required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>Data de fundação </b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.DataFundacao, new { @type = "date", @class = "form-control col-md-12", @placeholder = "Dia/Mês/Ano", @required = "required" })
                </div>
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>Telefone Principal </b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control col-md-12", @placeholder = "Telefone", @required = "required" })
                </div>
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>Inscrição Estadual </b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.inscricaoEstadual, new { @class = "form-control col-md-12", @placeholder = "Inscrição Estadual", @required = "required" })
                </div>
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>Inscrição na Junta Comercial</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.InscricaoJuntaComercial, new { @class = "form-control col-md-12", @placeholder = "Junta Comercial" })
                </div>
            </div>
            <p></p>

            <!-- #REGION REPRESENTANTES 1 -->
            <h3 class="text-center"><b><u>REPRESENTANTE LEGAL</u></b></h3>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="form-control-label" style="font-size: 18px;"><b>Representante Legal 1</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.representanteLegal1, new { @class = "form-control col-md-12", @placeholder = "Representante Legal 1", @required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-control-label"><b>CPF</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.cpfRepresentante1, new { @class = "form-control col-md-12", @placeholder = "Informe o CPF", @required = "required" })
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label"><b>RG</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.rgRepresentante1, new { @class = "form-control col-md-12", @placeholder = "Informe o RG", @required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>Telefone</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.telefoneRepresentante1, new { @class = "form-control col-md-12", @placeholder = "Informe o Telefone", @required = "required" })
                </div>
                <div class="form-group col-md-5">
                    <label class="form-control-label"><b>E-mail</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.emailRepresentante1, new { @class = "form-control col-md-12", @placeholder = "Informe o E-mail", @required = "required" })
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label"><b>Função/Cargo</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.cargoRepresentante1, new { @class = "form-control col-md-12", @placeholder = "Informe a função ou cargo", @required = "required" })
                </div>
            </div>
            <p></p>

            <!-- #REGION REPRESENTANTE 2 -->
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="form-control-label" style="font-size: 18px;"><b>Representante Legal 2</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.representanteLegal2, new { @class = "form-control col-md-12", @placeholder = "Nome do representante legal" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="form-control-label"><b>CPF</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.cpfRepresentante2, new { @class = "form-control col-md-12", @placeholder = "Informe o CPF" })
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label"><b>RG</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.rgRepresentante2, new { @class = "form-control col-md-12", @placeholder = "Informe o RG" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="form-control-label"><b>Telefone</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.telefoneRepresentante2, new { @class = "form-control col-md-12", @placeholder = "Informe o telefone" })
                </div>
                <div class="form-group col-md-5">
                    <label class="form-control-label"><b>E-mail</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.emailRepresentante2, new { @class = "form-control col-md-12", @placeholder = "Informe o E-mail" })
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label"><b>Função/Cargo</b><span class="text-danger"> *</span></label>
                    @Html.TextBoxFor(m => m.cargoRepresentante2, new { @class = "form-control col-md-12", @placeholder = "Informe a função ou cargo" })
                </div>
            </div>

            <br />
            <div class="row">
                <div class="form-group col-md-12">
                    <h5><b>DECLARAÇÃO</b></h5>
                    <p>
                        <b>
                            Declaro para os devidos fins, que estou ciente das condições para ingresso na Associação Nacional dos Fabricantes de Implementos Rodovíarios - ANFIR,
                            descritas em seu Estatuto Social, bem como dos direitos e obrigações por mim assumidos a partir da assinatura ao final deste instrumento.
                        </b>
                    </p>
                </div>
            </div>

            <br />
            <div class="row" style="text-align:center;">
                <div class="form-group col-md-12" style="margin-left:35%; margin-top:-2%;">
                    <label class="form-control-label">
                        <b><u>@($"{Model.Cidade} - {Model.Estado}, {Model.dataDeIngresso.Substring(0, 2)} de {@DateTime.ParseExact(Model.dataDeIngresso, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture).ToString("MMMM").ToUpper()} de {Model.dataDeIngresso.Substring(6, 4)}")</u></b>
                    </label>
                </div>
            </div>

            <br />
            <br />
            <div class="row" style="text-align:center;">
                <div class="form-group col-md-12">
                    <label class="form-control-label"><b>__________________________________________________________</b></label>
                </div>
                <div class="form-group col-md-12" style="font-size: 17px; margin-top:-1%;">
                    <label class="form-control-label"><b>Assinatura do Proponente</b></label>
                </div>
            </div>

            <br />
            <br />
            <br />
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="form-control-label"><b>DATA: @(Model.dataDeIngresso). APROVAÇÃO DA FICHA DE INCRIÇÃO:</b></label>
                    <img src="~/Imagens/assAnfir.png" alt="Assinatura de Aprovação de Ingresso" style="margin-top: -5%; width: 16%;" />
                </div>
            </div>

            <div class="row justify-content-end" style="margin-left: 23%;">
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary" target="_blank">Gerar PDF</button>
                </div>
            </div>
        }
    </div>
</div>



