@model FormulárioPDFConverter.Models.Cadastro

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    @{
        ViewBag.Title = "Ficha de Inscrição";
    }
    <style>
        body {
            font-size: 18px;
            font-family: Cambria, "Times New Roman", serif;
        }

        h1, h2, h3 {
            text-align: center;
        }

        img {
            width: 35%;
        }
    </style>
</head>
<body>

    <img src="~/Imagens/logoAnfir.png" />

    <h3><b>FICHA DE INSCRIÇÃO</b></h3>
    <br />

    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12"><b>Categoria: </b></label>
            @Model.CategoriaSelecionada
        </div>

        <br />
        <div class="col-md-6">
            <label><b>Razão Social: </b></label>
            @Model.Razao
        </div>
        <div class="col-md-12">
            <label><b>CNPJ: </b></label>
            @Model.CNPJ &nbsp;&nbsp;&nbsp;&nbsp;
            <label class="col-md-6"><b>Endereço: </b></label>
            @Model.Endereco

            <div class="col-md-12">
                <label class="col-md-6"><b>Complemento: </b></label>
                @Model.Complemento &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="col-md-6"><b>CEP: </b></label>
                @Model.Cep
            </div>
            <div class="col-md-12">
                <label class="col-md-6"><b>Bairro: </b></label>
                @Model.Bairro &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="col-md-6"><b>Cidade: </b></label>
                @Model.Cidade &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="col-md-6"><b>Estado: </b></label>
                @Model.Estado
            </div>
            <div class="col-md-12">
                <label class="col-md-6"><b>Site: </b></label>
                @Model.Site &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="col-md-6"><b>E-mail: </b></label>
                @Model.Email
            </div>
            <div class="col-md-12">
                <label class="col-md-12"><b>Porte da Empresa: </b></label>
                @Model.PorteEmpresaSelecionado
            </div>
            <div class="col-md-12">
                <label class="col-md-6"><b>Telefone: </b></label>
                @Model.Telefone &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="col-md-12"><b>Data de Fundação: </b></label>
                @Model.DataFundacao.ToString("dd/MM/yyyy")
            </div>
            <div class="col-md-12">
                <label class="col-md-6"><b>Inscrição na Junta Comercial: </b></label>
                @Model.InscricaoJuntaComercial &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="col-md-6"><b>Inscrição Estadual: </b></label>
                @Model.inscricaoEstadual
            </div>

        </div>
        <br />
        <br />

        <h3><b>REPRESENTANTES LEGAIS</b></h3>

        <div class="col-md-12">
            <label class="col-md-12"><b>Representante Legal 1: </b></label>
            @Model.representanteLegal1
        </div>
        <div class="col-md-12">
            <label class="col-md-12"><b>CPF Representante Legal 1: </b></label>
            @Model.cpfRepresentante1
        </div>
        <div class="col-md-12">
            <label class="col-md-6"><b>RG Representante Legal 1: </b></label>
            @Model.rgRepresentante1
        </div>
        <div class="col-md-12">
            <label class="col-md-6"><b>Telefone Representante 1: </b></label>
            @Model.telefoneRepresentante1 &nbsp;&nbsp;&nbsp;&nbsp;
            <label class="col-md-6"><b>E-mail Representante 1: </b></label>
            @Model.emailRepresentante1
        </div>
        <div class="col-md-12">
            <label class="col-md-6"><b>Cargo Representante 1: </b></label>
            @Model.cargoRepresentante1
        </div>

        <p></p>
        <div class="col-md-12">
            <label class="col-md-12"><b>Representante Legal 2: </b></label>
            @Model.representanteLegal2
        </div>
        <div class="col-md-12">
            <label class="col-md-6"><b>CPF Representante Legal 2: </b></label>
            @Model.cpfRepresentante2
        </div>
        <div class="col-md-12">
            <label class="col-md-6"><b>RG Representante Legal 2: </b></label>
            @Model.rgRepresentante2
        </div>
        <div class="col-md-12">
            <label class="col-md-6"><b>Telefone Representante 2: </b></label>
            @Model.telefoneRepresentante2 &nbsp;&nbsp;&nbsp;&nbsp;
            <label class="cold-md-12"><b>E-mail Representante 2:  </b></label>
            @Model.emailRepresentante2
        </div>
        <div class="col-md-12">
            <label class="cold-md-6"><b>Cargo Representante 2: </b></label>
            @Model.cargoRepresentante2
        </div>
    </div>

    <br />
    <div class="row">
        <div class="form-group col-md-12">
            <h3><b>DECLARAÇÃO</b></h3>
            <p>
                <b style="text-align:justify; font-size:18px;">
                    Declaro, para os devidos fins, que estou ciente das condições para ingresso na Associação Nacional dos Fabricantes de Implementos Rodovíarios - ANFIR,
                    descritas em seu Estatuto Social, ao qual tive acesso, bem como dos direitos e obrigações por mim assumidos a partir da assinatura ao final deste instrumento.
                </b>
            </p>
        </div>

        <br />
        <br />
        <div class="row" style="text-align:center;">
            <div class="form-group col-md-12" style="margin-left:60%; margin-top:-2%;">
                <label class="form-control-label">
                    <b><u>@($"{Model.Cidade} - {Model.Estado}, {Model.dataDeIngresso.Substring(0, 2)} de {@DateTime.ParseExact(Model.dataDeIngresso, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture).ToString("MMMM").ToUpper()} de {Model.dataDeIngresso.Substring(6, 4)}")</u></b>
                </label>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row" style="text-align:center;">
            <div class="form-group col-md-12">
                <label class="form-control-label"><b>__________________________________________________________</b></label>
            </div>
            <div class="form-group col-md-12">
                <label class="form-control-label"><b>Assinatura do Proponente</b></label>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="form-group col-md-12">
                <label class="form-control-label">
                    <b>DATA DO INGRESSO: @Model.dataDeIngresso. APROVAÇÃO DE INGRESSO:</b>
                </label>
                <img src="~/Imagens/assAnfir.png" alt="Assinatura de Aprovação de Ingresso" style="margin-top: -5%; width: 23%;" />
            </div>
        </div>
    </div>

</body>
</html>
