@model FormulárioPDFConverter.Models.DocumentosViewModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        ViewBag.Title = "Enviar Documentos";
        var ID_Empresa = Session["ID_Empresa"];
    }
    <style>
        .document-step {
            margin-bottom: 1em;
        }

        .pendenteRed {
            color: #ff0000;
        }

        .enviadaoBlue {
            color: #111df3;
        }
    </style>
</head>
<body style="background-color: #6a6a6a63;">

    <div class="container mt-3">
        <div class="alert alert-info">
            <p class="document-step">
                <strong>1º Passo:</strong> Preencher e assinar a ficha de inscrição:
                @Html.ActionLink("Clique aqui", "FichaIncricao", "Home", new { ID_Empresa = ID_Empresa }, new { @style = "text-decoration: underline;" })
            </p>
            <p class="document-step">
                <strong>2º Passo:</strong> Incluir a ficha de inscrição em <b><i>"Incluir Documentos"</i></b>
            </p>
            <p class="document-step">
                <strong>3º Passo:</strong> Incluir demais documentos em <b><i>"Incluir Documentos"</i></b>
            </p>
            <p class="document-step">
                <b>Incluir:</b> Contrato social; <br>
                Cartão CNPJ.
            </p>
        </div>
    </div>

    <div class="container mt-3">
        <div class="card" style="border-radius: 1.25rem;">
            <div class="card-header" style="background-color: #00000099;">
                <h3 class="mb-0" style="color: #fcfcff"><b>Incluir Documentos:</b></h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label for="fileUpload">Escolha o documento que irá enviar:</label>
                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload" accept=".pdf,.doc,.docx">
                    </div>

                    <select class="custom-select col-md-12" id="documentType" name="documentType" required>
                        <option value="" disabled selected>Selecione o tipo de documento:</option>
                        <option value="Ficha-de-Inscricao-">Ficha de Inscrição</option>
                        <option value="Contrato-Social-">Contrato Social</option>
                        <option value="Cartao-CNPJ-">Cartão CNPJ</option>
                        <option value="Procuracao-">Procuracao</option>
                    </select>

                    @Html.Hidden("CNPJ", Model?.DadosCadastro?.CNPJ ?? "")

                    @Html.Hidden("ID_Empresa", Model?.DadosCadastro?.ID_Empresa ?? "")

                    <br />
                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enviar Documento</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card" style="border-radius: 1.25rem;">
            <div class="card-header" style="background-color: #00000099;">
                <h3 class="mb-0" style="color: #fcfcff"><b>Documentos:</b></h3>
            </div>
            <div class="card-body">
                @if (Model?.TiposDocumentos != null && Model.TiposDocumentos.Any())
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>CNPJ</th>
                                <th>Documentos</th>
                                <th>Data de Inclusão</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tipoDocumento in Model.TiposDocumentos)
                            {
                                var cnpjFormatado = Model.DadosCadastro.CNPJ.Replace(".", "").Replace("/", "").Replace("-", "");
                                var documentoEnviado = Model.Documentos.FirstOrDefault(doc => doc.NomeArquivo.Equals(tipoDocumento + cnpjFormatado, StringComparison.InvariantCultureIgnoreCase));

                                var documentoLink = documentoEnviado != null ? Url.Content("~/Uploads/" + documentoEnviado.NomeArquivo + ".pdf") : null;

                                <tr>
                                    <td><b>@Model.DadosCadastro.CNPJ</b></td>
                                    <td>
                                        @if (documentoEnviado != null)
                                        {
                                            <a href="@documentoLink" target="_blank"><b>@tipoDocumento.Replace("-", " ")</b></a>
                                        }
                                        else
                                        {
                                            <b>@tipoDocumento.Replace("-", " ")</b>
                                        }
                                    </td>
                                    <td>
                                        @if (documentoEnviado != null && documentoEnviado.DataInclusao != null)
                                        {
                                            <span class="enviadaoBlue"><b>@documentoEnviado.DataInclusao.ToString("dd/MM/yyyy HH:mm:ss")</b></span><br />
                                        }
                                        else
                                        {
                                            <span class="pendenteRed"><b>Pendente</b></span>
                                        }
                                    </td>
                                    <td>
                                        @if (documentoEnviado != null)
                                        {
                                            <span class="enviadaoBlue"><b>Enviado</b></span>
                                        }
                                        else
                                        {
                                            <span class="pendenteRed"><b>Pendente</b></span>
                                        }
                                    </td>
                                    <td>
                                        <button class="btn btn-warning btn-revision" data-document-name="@tipoDocumento.Replace("-", " ")">Revisão</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="pendenteRed"><b>Todos os documentos estão pendentes</b></p>
                }
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="revisionModal" tabindex="-1" role="dialog" aria-labelledby="revisionModalLabel" aria-hidden="true" style="font-family:Arial;">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded" style="border-radius: 15px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
                <div class="modal-header">
                    <h5 class="modal-title" id="revisionModalLabel"><b>Revisão de Documento</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("EnviarRevisao", "UploadFile", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label for="fileName"><b>Nome do Documento:</b></label>
                            <input type="text" class="form-control col-md-12" id="fileName" name="fileName" readonly>
                        </div>
                        <div class="form-group">
                            <label for="predefinedMessage"><b>Mensagem Pré-Moldada:</b></label>
                            <select class="form-control col-md-12" id="predefinedMessage" name="predefinedMessage">
                                <option value="">Selecione uma mensagem</option>
                                <option value="Ficha de Inscrição não assinada e/ou não encontrada.">Ficha de Inscrição não assinada e/ou não encontrada.</option>
                                <option value="Procuração não encontrada e/ou não assinada ou não reconhecida a firma da assinatura.">Procuração não encontrada e/ou não assinada ou não reconhecida a firma da assinatura.</option>
                                <option value="Cartão CNPJ não encontrado e/ou CNAE não está em conformidade com o Inciso I do Art. 3º da Portaria Senatran Nº. 452 de 2024.">Cartão CNPJ não encontrado e/ou CNAE não está em conformidade com o Inciso I do Art. 3º da Portaria Senatran Nº. 452 de 2024.</option>
                                <option value="Contrato Social não encontrado e/ou não está em conformidade com o Inciso II do Art. 3º da Portaria Senatran Nº. 452 de 2024.">Contrato Social não encontrado e/ou não está em conformidade com o Inciso II do Art. 3º da Portaria Senatran Nº. 452 de 2024.</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="customMessage"><b>Observação:</b></label>
                            <textarea class="form-control col-md-12" id="customMessage" name="customMessage" rows="3"></textarea>
                        </div>
                        @Html.Hidden("ID_Empresa", (string)Session["ID_Empresa"])

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Enviar Revisão</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @if (TempData["AlertMessage"] != null)
    {
        <script type="text/javascript">
            alert('@TempData["AlertMessage"]');
        </script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-revision').on('click', function () {
                var documentName = $(this).data('document-name');
                $('#fileName').val(documentName);
                $('#documentName').val(documentName);
                $('#revisionModal').modal('show');
            });

            $('#sendRevision').on('click', function () {
                var predefinedMessage = $('#predefinedMessage').val();
                var customMessage = $('#customMessage').val();
                var documentName = $('#documentName').val();

                if (!predefinedMessage && !customMessage) {
                    alert("Por favor, selecione uma mensagem ou digite uma mensagem personalizada.");
                    return;
                }

                $('#revisionModal').modal('hide');
            });
        });
    </script>

</body>
</html>
